// Breakpoints
// ============================================================

// Generic breakpoints
$x-small: rem(525);
$small: rem(623);
$medium: rem(768);

// Orientation -- not in use
$portrait:              'and (orientation:portrait)';
$landscape:             'and (orientation:landscape)';


@mixin breakpoint($point) {

  @if $point == smaller-mobile {
    @media only screen and (max-width: #{$x-small}) { @content; }
  }

  // Generic mobile
  @else if $point == mobile {
    @media only screen and (max-width: #{$small}) { @content; }


    //  iPhone 5
    $deviceMinWidth: 320px;
    $deviceMaxWidth: 568px;
    $devicePixelRatio: 2;
    $deviceAspectRatio: '40/71';

    @media only screen and (min-device-width: $deviceMinWidth) and (max-device-width: $deviceMaxWidth)
    and (-webkit-device-pixel-ratio: $devicePixelRatio) and (device-aspect-ratio: $deviceAspectRatio) {
      @content;
    }
  }

  // Generic tablet
  @else if $point == tablet {
    @media only screen and (max-width: #{$medium}) { @content; }

    // iPad
    $deviceMinWidth: 768px;
    $deviceMaxWidth: 1024px;
    
    @media only screen and (min-device-width: $deviceMinWidth) and (max-device-width: $deviceMaxWidth) { 
      @content;
    }


    // iPad Retina
    $retinaDeviceMinWidth: 768px;
    $retinaDeviceMaxWidth: 1024px;
    $retinaDevicePixelRatio: 2;

    @media only screen and (min-device-width: $retinaDeviceMinWidth) and (max-device-width: $retinaDeviceMaxWidth)
    and (-webkit-device-pixel-ratio: $retinaDevicePixelRatio) { 
      @content;
    }
  }

  @else if $point == landscape { // Not in use
    @media only screen and (orientation:landscape) {
      @content;
    }
  }

  

  // // Google Nexus 7
  // @else if $point == hdpi {
  //   $ratio: 1.3;
    
  //   @media only screen and (-webkit-min-device-pixel-ratio: $ratio),
  //   only screen and (min--moz-device-pixel-ratio: $ratio),
  //   only screen and (-o-min-device-pixel-ratio: #{$ratio}/1),
  //   only screen and (min-resolution: #{round($ratio*96)}dpi),
  //   only screen and (min-resolution: #{$ratio}dppx) {
  //     @content;
  //   }
  // }

}