// Font-size
// ============================================================
@mixin font-size($sizeValue) {
  $pxValue: $sizeValue;
  $remValue: ($sizeValue / 16);
  font-size: #{$pxValue}px; 
  font-size: #{$remValue}rem;
}


// REM mixin
// ============================================================
@function rem($size) {
  $remValue: ($size / 16);
  @return #{$remValue}rem;
}



// Flex Video
// ============================================================

// We use these to control video container padding and margins
$flex-video-padding-top: rem(25) !default;
$flex-video-padding-bottom: 67.5% !default;
$flex-video-margin-bottom: rem(16) !default;

// We use this to control widescreen bottom padding
$flex-video-widescreen-padding-bottom: 57.25% !default;

@mixin flex-video-container {
  position: relative;
  padding-top: $flex-video-padding-top;
  padding-bottom: $flex-video-padding-bottom;
  height: 0;
  margin-bottom: $flex-video-margin-bottom;
  overflow: hidden;

  &.widescreen { padding-bottom: $flex-video-widescreen-padding-bottom; }
  &.vimeo { padding-top: 0; }

  iframe,
  object,
  embed,
  video {
    position: absolute;
    top: 0;
    //#{$default-float}: 0;
    width: 100%;
    height: 100%;
  }
}