// ============================================================
// MIT Technology Review: Robot Feature
// ============================================================


// Table of Contents
// ============================================================
// 1. Base styles
// 2. Helper classes (clearfix, text-align classes, etc.)
// 3. Introduction
// 4. Part One: Learning to Hop
// 5. Part Two: Learning to Run
// 6. Part Three: Learning to Walk
// 7. Footer



// 1. Base
// ============================================================

html {
	font-size: rem(16);
	@include breakpoint(tablet) {
		font-size: rem(15);
	}
	@include breakpoint(mobile) {
		font-size: rem(14);
	}
	@include breakpoint(smaller-mobile) {
		font-size: rem(12);
	}
}

a {
	color: $base-color;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: $sans-serif-bold;
	font-weight: bold;
}

h1 {
	@include font-size(46);
	line-height: rem(129);
	color: white;
	text-transform: capitalize;
}

h2 { 
	@include font-size(46);
	line-height: rem(55);
	border-bottom: 5px solid $base-color;
	display: inline-block;
	margin-bottom: rem(50);
	@include breakpoint(mobile) {
		@include font-size(30);
	}
}

p {
	font-family: $serif;
	font-weight: normal;
	color: $base-color;
	@include font-size(19);
	line-height: 31px;
	text-indent: 0 !important;
	margin-bottom: rem(31);
	@include breakpoint(mobile) {
    margin-right: auto;
    margin-left: auto;
	}
}

section * p:last-of-type {
	margin-bottom: 0;
}

.wrap {
	max-width: rem(980);
	margin: 0 auto;
	padding: rem(60) 0;
	position: relative;
	img {
		width: 100%;
	}
	p:last-of-type {
		//margin-bottom: 0;
	}
	@extend .clearfix;
	@include breakpoint(tablet) {
		margin-right: 15px;
		margin-left: 15px;
	}
}

.inner-wrap {
	position: relative;
	margin: 25px;
	@extend .clearfix;
}

article {
	position: relative;
}

// Article title
#title {
	width: 100%;
	height: rem(1600);
	margin-top: rem(300);
	text-align: center;
	@include breakpoint(tablet) {
		margin-top: rem(150);
	}
	@include breakpoint(mobile) {
		margin-top: rem(100);
	}
	h1 { 
		margin-bottom: rem(675);
		@include breakpoint(tablet) {
			line-height: rem(100);
			margin-bottom: rem(500);
		}
	}
	p {
		color: white;
		font-family: $sans-serif;
		@include font-size(22);
		line-height: 36px;
		@include breakpoint(tablet) {
			width: 90%;
		}
	}
	.byline {
		letter-spacing: 1px;
	}
	.wrap {
		width: 325px;
		padding: 0;
		@include breakpoint(tablet) {
			margin-right: auto;
			margin-left: auto;
			width: 100%
		}
	}
}

// Loading state
.loading {
	text-align: center;
	position: fixed;
	top: 0;
	bottom: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: white;
	z-index: 50;
	p { text-align: center; }
	img {
		width: 50%;
		margin: 0 auto;
	}
}


// Big letter "A"
.drop-caps {
	font-family: $sans-serif-bold;
	@include font-size(288);
	font-weight: bold;
	text-align: center;
	line-height: 1;
	margin-bottom: 0;
}

.title {
	background: transparent;
	padding-top: rem(250);
	padding-bottom: rem(250);
	position: relative;
	@include breakpoint(mobile) {
		// width: 90%;
    margin: 0 auto;
	}
	@include breakpoint(smaller-mobile) {
		padding-top: rem(150);
    padding-bottom: rem(150);
	}
	h1 {
		@include font-size(89);
		line-height: 1;
		@include breakpoint(tablet) {
			position: relative;
			z-index: 2;
		}
		@include breakpoint(mobile) {
			@include font-size(52);
		}
	}
	p {
		font-family: $sans-serif;
		@include font-size(30);
		line-height: 1;
		text-transform: uppercase;
		color: white;
		@include breakpoint(tablet) {
			position: relative;
			z-index: 2;
		}
		@include breakpoint(mobile) {
			@include font-size(24);
      line-height: 2;
		}
	}
}
.overlay {
	display: none;
	@include breakpoint(tablet) {
		display: block;
		background-color: rgba(0,0,0,0.3);
		height: 100%;
		width: 100%;
		overflow: hidden;
		position: absolute;
		z-index: 1;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}
}

small {
	font-family: $sans-serif;
	font-style: italic;
	@include font-size(14);
	line-height: 18px;
	font-weight: normal;
	width: 50%;
	display: inline-block;
}

.robots {
	position: relative;
	img {
		display: block;
	}
}

// Background styles
.background-video,
.background {
	overflow: hidden;
}
.background-video > video,
.background > video {
	//position: absolute !important;
	top: 0px !important;
}

.fallback {
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	position: fixed;
	top: 0;
	background-position: center;
	height: 100%;
	@extend .show-for-mobile;
}

#desert .fallback {
	// background-image: image-url('part0-intro-background.jpg');
	//height: 56%;
	// background-position: 80% center;
}

#jumper {
	background-image: image-url("part1-background.jpg");
	background-repeat: no-repeat;
	//background-position: center center;
	//background-attachment:fixed;
	background-size: cover;
	width: 100%;
	position: fixed;
	top: 0;
}

#jumper .fallback {
	background-image: image-url('part1-background.jpg');
}
// #beach .fallback {
// 	background-image: image-url("part2-background.jpg");
// 	background-position: 75% center;
// }
// #petman .fallback {
// 	background-image: image-url("part3-background.jpg");
// 	background-position: 40% center;
// }






// 2. Helper Classes
// ============================================================

.text-center { text-align: center; }

.right { float: right; }
.left { float: left; }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.hide-for-mobile {
	display: inherit;
	visibility: visible;
  @include breakpoint(tablet) {
  	display: none;
  	visibility: hidden;
  }
}
.show-for-mobile {
	display: none;
	visibility: hidden;
	@include breakpoint(tablet) {
  	display: block;
  	visibility: visible;
  }
}
.bg {
	background: white;
}
.fix {
	position: fixed;
	top: 5px;
}
.fixed {
	position: absolute;
}
.faded {
	opacity: 0.1;
	background-color: black;
	@include transition-duration(1s);
	@include transition-timing-function(ease-in-out);
}

// Clearfix
.clearfix:after { 
  content: "."; 
  display: block; 
  height: 0; 
  clear: both; 
  visibility: hidden; 
}
.clearfix { 
  display: inline-block;  
}
* html .clearfix {  
  height: 1%;  
} /* Hides from IE-mac \*/
.clearfix {  
  display: block;  
}
.flex-video {
	@include flex-video-container;
	@extend .hide-for-mobile;
}





// 3. Introduction
// ============================================================

#intro {
	background: white;
	.wrap {
		position: relative;
		top: -60px;
		max-width: 595px;
		padding: 0;
		@include breakpoint(tablet) {
			max-width: 100%;
		}
	}
}





// 4. Part One: Learning To Hop
// ============================================================

#partOne {
	.title {
		@include breakpoint(tablet) {
			background-image: image-url("part1-background.jpg");
			background-size: cover;
			width: 100%;
		}
	}
	.wrap {
		max-width: rem(980);
	}
	.robots {
		width: 39%;
		height: 100%;
		//position: absolute;
		//left: 0;
		img {
			width: 81%;
		}
		.robot {
			height: 50%;
			position: relative;
		}
		small {
			position: absolute;
			left: 0;
			bottom: 0;
		}
	}
	.video {
		margin-top: 31px;
		margin-bottom: 62px;
		@extend .flex-video;
	}
	.text {
		width: 61%;
		@include breakpoint(tablet) {
			width: 100%;
		}
	}
}

#hopper-flip-book {
	margin-bottom: 60px;
	background: white;
	height: 3560px;
	div {
		height: 700px;
		width: 100%;
	}
	@for $i from 1 through 5{
  	.#{page}-#{$i}{
    	background-image: image-url("flip-#{$i}.jpg");
			background-repeat: no-repeat;
    	background-position: center center;
    	background-attachment:fixed;
    	background-size: cover;
    	z-index: 5;
  	}
	}
	@extend .hide-for-mobile;
}






// 5. Part Two: Learning To Run
// ============================================================

#partTwo {
	.title {
		@include breakpoint(tablet) {
			background-image: image-url("part2-background.jpg");
			background-size: cover;
			background-position-x: 40%;
			width: 100%;
		}
	}
	.video {
		position: relative;
		top: 6.56525em;
		width: 48%;
		@extend .hide-for-mobile;
	}
	.subheader-right {
		margin-left: 54%;
		@include breakpoint(tablet) {
			margin-left: 0%;
		}
	}
	.inner-wrap {
		@include breakpoint(tablet) {
			margin-right: 0;
			margin-left: 0;
		}
	}
	.text {
		width: 46%;
		@include breakpoint(tablet) {
			width: 100%;
		}
	}
}






// 6. Part Three: Learning to Walk
// ============================================================

#partThree {
	.title {
		@include breakpoint(tablet) {
			background-image: image-url("part3-background.jpg");
			background-size: cover;
			width: 100%;
			background-position-x: 5%;
		}
	}
	.robots {
		width: 46%;
		height: 100%;
		img {
			width: 85%;
		}
		.robot {
			height: 100%;
			position: relative;
		}
		small {
			position: absolute;
			left: 0;
			bottom: 0;
		}
	}
	.text {
		width: 54%;
		@include breakpoint(tablet) {
			width: 100%;
		}
	}
}

#atlas-flip-book {
	& > div {
		height: rem(1400);
		width: 100%;
	}
	@for $i from 1 through 3{
  	.#{page}-#{$i}{
    	background-image: image-url("atlas-dev#{$i}.jpg");
			background-repeat: no-repeat;
    	background-position: center center;
    	background-attachment:fixed;
    	background-size: cover;
    	z-index: 5;
  	}
	}
	.page-3 {
		@include breakpoint(tablet) {
			background-image: none;
			background-color: white;
			background-size: 100%;
			background-attachment: scroll;
			height: auto;
		}
		@include breakpoint(mobile) {
			background-size: 25%;
		}
	}
	.wrap {
		padding: 0;
		height: 100%;
		@include breakpoint(tablet) {
			text-align: center;
		}
		img {
			width: 50%;
			margin: 0 auto;
			@extend .show-for-mobile;
		}
	}
}

.credits {
	position: absolute;
	bottom: 1.5rem;
	p {
		font-size: 90%;
		line-height: 1.5;
	}
	@include breakpoint(tablet) {
		position: static;
		margin-bottom: 60px;
	}
}



// 7. Footer
// ============================================================

footer {
	position: relative;
	height: 60px;
	background: #383838;
	//opacity: 0.75;
	.wrap {
		padding: 0;
		&:after {
			content: none;
			display: none;
		}
		img { width: auto; }
	}
	p {
		margin-bottom: 0;
		@include breakpoint(tablet) {
			width: inherit;
		}
	}
	p a {
		//color: white;
		font-family: $sans-serif;
		font-size: 12px;
		font-weight: 100;
		line-height: 60px;
		text-transform: uppercase;
		text-decoration: none;
		color: gray;
	}
	.return-to-tech-review {
		float: left;
		background: image-url("logo.png") center left no-repeat;
		padding-left: 30px;
		//font-family: $sans-serif;
	}
	.scroll-to-top {
		float: right;
		//font-size: 16px;
		&:after {
			content: '▴';
			color: white;
			padding-left: 8px;
		}
	}
}